@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@100;300;400;700&display=swap');
@import "vars";
@import "libs/normalize";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: $opensans;
    font-size: 16px;
    line-height: 1.5;
    color: $primary;
    font-weight: normal;
}

.title {
    font-family: $roboto;
    font-weight: 300;
    font-size: 1.6rem;
    color: #fff;
    padding: 0.6rem;
    margin: 0;
    background-color: $primary;
    border-radius: 10px;
}

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/contacts";
@import "blocks/timeline";
@import "blocks/footer";