.footer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.skillset,
.toolbox {
	flex-basis: 450px;

	@media screen and (max-width: 768px) {
		flex-basis: auto;
	}
}

.skillset__items,
.toolbox__items {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	flex-wrap: wrap;
	padding: 20px 0 20px 0;
}

.skillset__item,
.toolbox__item {
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 8px;
	padding: 0 0 0 15px;
	flex-basis: 225px;
}

.skillset__link,
.toolbox__link {
	display: block;
	color: $primary;
	font-family: $opensans;
	font-weight: 100;
	text-decoration: none;
	line-height: 1.8;
}