.header {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 2% 0;
	border-bottom: 5px solid $secondary;

	&__logo {
		font-family: $roboto;
		font-size: 4rem;
		font-weight: 100;
		line-height: 1;
		white-space: nowrap;

		@media screen and (max-width: 375px) {
			font-size: 3rem;
		}
	}

	&__text {
		font-family: $opensans;
		font-weight: 300;
		font-size: 1.1rem;
		margin-left: 30px;

		@media screen and (max-width: 768px) {
			margin-top: 15px;
		}

		@media screen and (max-width: 425px) {
			font-size: 0.9rem;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 3% 0;
	}

	@media screen and (max-width: 375px) {
		padding: 6% 0;
	}
}