<div class="contacts">
	<ul class="contacts__list">
		<li class="contacts__list__item">
			<img class="contacts__list__icon" src="assets/images/email.svg" alt="email">
			<a class="contacts__list__link" href="mailto:karim@karimtarek.com">karim@karimtarek.com</a>
		</li>
		<li class="contacts__list__item">
			<img class="contacts__list__icon" src="assets/images/phone.svg" alt="">
			<a class="contacts__list__link" href="tel:+15140000000">+1 514 000 0000</a>
		</li>
		<li class="contacts__list__item">
			<img class="contacts__list__icon" src="assets/images/website.svg" alt="">
			<a class="contacts__list__link" href="http://www.karimtarek.com/" target="_blank">www.karimtarek.com</a>
		</li>
		<li class="contacts__list__item">
			<img class="contacts__list__icon" src="assets/images/location.svg" alt="">
			<a class="contacts__list__link" href="#">Montreal, Canada</a>
		</li>
	</ul>
</div>