<footer class="footer">
	<div class="footer__column">
	<h3 class="title">Skillset</h3>
		<ul class="footer-menu">
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Responsive Web Design</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">UI/UX Design</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">UI Development</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Information Architecture</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Prototyping</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Project Managment</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">CMS Management</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Email List Managment</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Web Hosting Managment</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">SEO</a>
			</li>
		</ul>
	</div>

	<div class="footer__column">
		<h3 class="title">Toolbox</h3>
		<ul class="footer-menu">
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Adobe Photoshop</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Adobe Illustrator</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Adobe Dreamweaver</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Aptana Studio</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">HTML, CSS, jQuery</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">WordPress</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Bootstrap</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">WAMP</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Plesk, cPanel</a>
			</li>
			<li class="footer-menu__item">
				<a class="footer-menu__link" href="#">Filezilla</a>
			</li>
		</ul>
	</div>
</footer>