<footer class="footer">
	<div class="skillset">
	<div class="title">Skillset</div>
		<ul class="skillset__items">
			<li class="skillset__item">
				<a class="skillset__link" href="#">Responsive Web Design</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">UI/UX Design</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">UI Development</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">Information Architecture</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">Prototyping</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">Project Managment</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">CMS Management</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">Email List Managment</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">Web Hosting Managment</a>
			</li>
			<li class="skillset__item">
				<a class="skillset__link" href="#">SEO</a>
			</li>
		</ul>
	</div>

	<div class="toolbox">
		<div class="title">Toolbox</div>
		<ul class="toolbox__items">
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Adobe Photoshop</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Adobe Illustrator</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Adobe Dreamweaver</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Aptana Studio</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">HTML, CSS, jQuery</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">WordPress</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Bootstrap</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">WAMP</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Plesk, cPanel</a>
			</li>
			<li class="toolbox__item">
				<a class="toolbox__link" href="#">Filezilla</a>
			</li>
		</ul>
	</div>
</footer>